<h2 class = "text-center m-3">Stupid Coaching</h2>
<form class="form-control text-center m-3" action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Enter Questoion Here">
  <input class ="btn-primary" type="submit" value="Ask!">
</form>
